.footer{
    padding: 10px 10px 0 10px;
    background-color:black;
    margin-bottom: 0px;
    margin-top: 20px;
}

.footer-adress{
    color: white;
}

.list-elements{
   
align-self: center;
}

.products-content h2{
    color: grey;

}