.jumbotron {
  background-color: #000000;
  margin-top: 10px; }

.footer {
  color: rgba(255, 255, 255, 0.753);
  padding: 10px 10px 0 10px;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 200px; }

.card-producto {
  flex: 1 200px;
  margin-top: 15px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-sites {
  padding: 20px; }

.footer-addrress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
